     REQ-ID:
Description:
       Type:
  Rationale:
 Originator:
   Comments: [M814-ModuleChair] Copy this template below to add new requirements.

     REQ-ID: MB01
Description: The system shall allow an admin user to record details of an appointment
       Type: Functional
  Rationale: When a new appointment is created the details of the appointment need to be recorded on the system
 Originator: Office Manager (Carol)
   Comments: [Matthew Bird] 
   
     REQ-ID: MB02
Description: The system shall create an invoice for the health insurance company on the patients record
       Type: Functional
  Rationale: If a patient is paying for their treatment via a health insurance company invoices will need to
             be generated for the insurer listed on the patients record
 Originator: Office Manager (Carol)
   Comments: [Matthew Bird] 
